# legacy
.svn/

# IDE
.settings/
.classpath
.project

# maven
target/

# binaries
*.jar
*.war
*.class

# libraries
!lib/services-types-0.0.1-20180111.105500.jar

# OS
.DS_Store

# fucking big files that really don't have to be under version control
input/*
dbs/*/data

# outputs
output/*
src/test/resources/outputDirectory/*
