<context-param>
  <param-name>org.basex.dbpath</param-name>
  <param-value>/var/data</param-value>
</context-param>
<context-param>
  <param-name>org.basex.user</param-name>
  <param-value>root</param-value>
</context-param>
<context-param>
  <param-name>org.basex.dbpath</param-name>
  <param-value>root</param-value>
</context-param>